
.ud-toggle-container { border: 1px dashed #ccd0d4; padding: .75rem; }
.ud-toggle-switch { margin-bottom: .75rem; }
.ud-toggle-label { font-size: 13px; color: #2c3338; }
.ud-toggle-button { outline: none; }
